
.map {
  position: relative;
  background-image: url(./map.jpg);
  height: 885px;
  width: 1150px;
}

.information {
  position: absolute;
  width: 300px;
  background-color: #fff;
  z-index:6;
  border: 10px solid red;
  top: 150px;
  right: -320px;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

.close span {
  display: block;
  position: absolute;
  border: 3px solid black;
  width: 40px;
}

.close span:first-child{
  transform: rotate(45deg);
  margin-top: 20px;
}

.close span:last-child{
  transform: rotate(-45deg);
  margin-top: 20px;
}

.textBlock{
  margin-top: 50px;
}

p{
  border: 2px solid green;
}

.villagesSpan{
  display: block;
  position: absolute;
  border: 10px solid black;
  border: black 10px solid;
  border-radius: 50%;
  z-index: 4;
  width: 50px;
  height: 50px;
}

.villagesSpan:hover {
  width: 60px;
  height: 60px;
  border: none;
  background-color: blue;
  z-index: 6;
}

.villagesSpan:active {
  width: 60px;
  height: 60px;
  background-color: orange;
}


.yellow {
  border: none;
  background-color: yellow;
  z-index: 5;
}

.red {
  border: none;
  background-color: red;
  z-index: 5;
}

.greenRed {
  background-color: red;
  z-index: 5;
  border: 10px green solid;
  box-sizing: border-box;
}

.greenYellow{
  background-color: yellow;
  z-index: 5;
  border: 10px green solid;
  box-sizing: border-box;
}

